<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="BathHackedParking">
                    <match url="getparkingdata" />
                    <action type="Rewrite" url="http://data.bathhacked.org/resource/u3w2-9yme.json" appendQueryString="false" />
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
